<div class="pagination">

  {% if art.has_previous %}
    <a class="pagination-action" href="?page=1">
     <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ art.previous_page_number }}">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  {% endif %}

  <span class="pagination-current">{{ art.number }}</span>
  <span class="pagination-of">of</span>
  <span class="pagination-total">{{ art.paginator.num_pages }}</span>

  {% if art.has_next %}
    <a class="pagination-action" href="?page={{ art.next_page_number }}">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ art.paginator.num_pages }}">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  {% endif %}

</div>
