{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/game.css' %}">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <style rel="stylesheet" type="text/css">
   .centered {
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     -webkit- transform: translate(-50%, -50%);
     text-align:center;
   }
 </style>
{% endblock css %}

{% block content %}

<div class="ads">
    <script data-ad-client="ca-pub-2036390266525121" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</div>
{% if art1%}
<div class="gamecont">

{% for Gamebook_art in art %}
  <a href="{% url 'article' slug=Gamebook_art.slug %}">
    {% if request.user_agent.is_mobile %}
    <div class="game-container" style="height:20vw;">
    {% elif request.user_agent.is_pc %}
    <div class="game-container" style="height:13vw;">
    {% endif %}
    <div class="gameimage" style="height:100%;">
      <img src="{{ Gamebook_art.thumbnail.url }}" alt="">
    </div>
    <div class="gametitle">
      <h3 style="margin:5px; margin-left:20px;">{{ Gamebook_art.title|safe }}</h3>
      <p style="margin-left:20px; font-size:18px;">{{ Gamebook_art.snippet|safe }}</p>
      <p class="gamedate" style="text-align:right; margin-right:10px ;">{{ Gamebook_art.date|date:'d b Y' }}</p>
    </div>
  </div></a>
{% endfor %}

<!-- pagination -->

<div class="pagination" style="float:right; margin:10px; margin-right:29%;">

  {% if art.has_previous %}
    <a class="pagination-action" href="?search={{request.GET.search}}&page=1">
     <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?search={{request.GET.search}}&page={{ art.previous_page_number }}">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  {% endif %}

  <span class="pagination-current">{{ art.number }}</span>
  <span class="pagination-of"> OF </span>
  <span class="pagination-total">{{ art.paginator.num_pages }}</span>

  {% if art.has_next %}
    <a class="pagination-action" href="?search={{request.GET.search}}&page={{ art.next_page_number }}">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?search={{request.GET.search}}&page={{ art.paginator.num_pages }}">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  {% endif %}

</div>

<!-- end pagination -->
</div>
{% else %}
  <div class="centered">
    <h1>Your Result Not Found!!</h1>
    <p>Please Gave Us Recomend Game For Bring More Resource To You</p>
    <p>With Click "Request Game" Button Below</p>
    <a href="/support/req"><input class="btn btn-success" type="button" name="" value="Request Game"></a>
  </div>
{% endif %}



{% endblock content %}
